@using System.Security.Principal

@if (User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                <text>Hello @User.Identity.Name!</text>
            </a>
            <ul class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" asp-area="AzureAD" asp-controller="Account" asp-action="SignOut">Sign out</a></li>
            </ul>
        </li>        
    </ul>
}